body {
    font-family: arial, sans-serif;
    padding: 30px;
        padding-bottom: 40px;
}

h1 {
    color: #000;
        font-size: 24px;
        font-weight: 100;
        line-height: 28px;
        margin-bottom: 0;
    }
    
    ul {
    margin: 0;
        padding: 0;
    }
    
    li {
    list-style: none;
    margin: 0 auto;
        padding: 0;
        color: rgba(33, 33, 33, 0.7);
        font-size: 16px;
            font-weight: 100;
            line-height: 19px;
}
li:first-letter {
    text-transform: capitalize;
}

.bg-img {
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 200px;
    max-width: 100%;
    max-height: 100%;
        background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-image: url('../img/partly-cloudy');
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    margin: 30px 30px;
    padding: 30px 30px;
        border: none;
        border-radius: 10px;
        background-color: rgba(245, 245, 245, 0.6)
    }


.form-control {
    border: none;
    text-align: left;
}

#search-button {
margin: 0 auto;
    padding-right: 20px;
    background-color: #4e95ff;
    color: #fff;
    border: none;
}
    
#search-button:hover {
    color: #4e95ff;
    background-color: #fff;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.overview {
    margin: 20px;
    color: #fff;
    
}
    
.float-left {
    display: inline-block;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
    margin-bottom: 17.84px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .units a {
    color: #3077e0;
}

#fahrenheit-link:focus {
    font-weight: bold;
}

#celsius-link:focus {
    font-weight: bold;
}
.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast .col-2:hover {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 6px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weekly-forecast {
    margin-top: 20px;
    text-align: center;
}

.weekly-forecast-date {
    font-size: 16px;
    color: #000;
    opacity: 0.6;
}

.weekly-forecast-temperature-min {
    opacity: 0.6;
}

.weekly-forecast-temperatures {
    font-size: 13px;
}

.endCard {
    margin-top: 200px;
        padding: 5px;
    color: rgba(33, 33, 33, 0.8);
        background-color: rgba(245, 245, 245, 0.7);
        border: none;
        border-radius: 6px;

}

.endCard a {
    color: #4e95ff;
}